<div class="container-fluid">
        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">    
                    <div class="card-body text-center">
                        <img src="" alt=""
                            class="rounded-circle img-fluid" style="width: 150px;">
                        <h3>Bienvenid@</h3>
                        <h5 class="my-3">{{alumno.nombre}}</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Nombre completo</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{alumno.nombre}} {{alumno.apellido}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">DNI</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{alumno.dni}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Dirección</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{alumno.direccion}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Número de teléfono</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{alumno.telefono}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        </div>
    </div>
</div>
                