<div class="col-md-4 mx-auto">
    <div class="card">
        <div class="card-body">
            <form action="/anuncios/edit/{{anuncio.idAnuncio}}" method="POST">
                <div class="form-group">
                    <label for="titulo">Título:</label>
                    <input type="text" name="titulo" class="form-control" placeholder="Título"
                        value="{{anuncio.titulo}}" autofocus required>
                </div>
                <div class="form-group">
                    <div class="form-group">
                        <label for="tipo">Tipo de anuncio:</label>

                        <select class="custom-select" id="inputtipo" name="tipo" required {{#unless tipo}} disabled
                            {{/unless}}>

                            <option hidden disabled selected value="">Seleccione un tipo de anuncio...</option>
                            {{#each tipo}}
                            <option value="{{idTipoAnuncio}}">{{tipo}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-group">
                        <label for="curso">Curso:</label>

                        <select class="custom-select" id="inputCurso" name="curso" required {{#unless cursos}} disabled
                            {{/unless}}>

                            <option hidden disabled selected value="">Seleccione un curso...</option>
                            {{#each cursos}}
                            <option value="{{idCurso}}">{{curso}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="descripcion">Descripción:</label>
                    <textarea name="description" rows="2" class="form-control" placeholder="Descripción"
                        required>{{anuncio.descripcion}}</textarea>
                </div>
                <button class="btn btn-success btn-block">
                    GUARDAR
                </button>
                <br>
                <div>
                    <a class="btn btn-secondary btn-block" href="/anuncios" role="button">VOLVER SIN GUARDAR</a>
                </div>
            </form>
        </div>
    </div>
</div>